{% extends "layout.html" %}
{% block body %}
<article class="datos">
    <figure>            
        <img src="http://openweathermap.org/img/w/{{clima.icon}}.png" alt="Image">
        <p>
            <figcaption class="ciudad">{{clima.city}}</figcaption>
            <br>
            <span class="temp">Temp: {{clima.temperature}}° F</span>
            <br>
            <span class="temp">Temp max: {{clima.temperatureMax}}° F</span>
            <br>
            <span class="temp">Temp min: {{clima.temperatureMin}}° F</span>
            <br>Humidity: {{clima.humidity}}%
            <br>Wind speed: {{clima.wind_speed}} mph
            <br>Description: {{clima.description}}
        </p>
    </figure>
</article>
{% endblock %}