<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/img/02d@2x.png">
    <title>Weather</title>
</head>
<body>
    <header>
        <h1>What's the weather like?</h1>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>


    <script src="/static/js/dom.js" type="module"></script>

</body>
</html>